<div class="sort-job-offers">
    <label for="sortField">Sort by:</label>
    <select id="sortField" [(ngModel)]="selectedField" (change)="onSortChange()">
      <option *ngFor="let field of sortFields" [value]="field">{{ field | titlecase }}</option>
    </select>
  
    <label for="sortOrder">Order:</label>
    <select id="sortOrder" [(ngModel)]="sortOrder" (change)="onSortChange()">
      <option value="asc">Ascending</option>
      <option value="desc">Descending</option>
    </select>
  </div>
  