<aside class="sidebar">
    <div class="user-avatar">
      <img src="../../../assets/default.png" alt="User Avatar" />
    </div>
  
    <div class="user-info">
      <h2>Imtiez Mrad</h2>
      <p class="highlighted-text">Looking for a new opportunity</p>
      <hr class="section-divider">
      <button>+ Add new social link</button>
    </div>
  
    <div class="cv-section">
      <h3>CV</h3>
      <!-- Image preview container -->
      <div class="cv-image-preview">
        <img id="cv-image" src="../../../assets/upload_cv.png" alt="CV Preview" />
      </div>
      <!-- Upload button -->
      <input type="file" id="cv-upload" accept=".pdf,.doc,.docx" style="display: none;" />
      <label for="cv-upload" class="cv-upload-button">
        <span class="upload-icon">⬆</span> Upload File
      </label>
    </div>
    
  
    <div class="information">
      <h3>Information</h3>
      <p>Add birthday date</p>
      <p>Imtiez</p>
      <p>Tunisie</p>
      <h4>Address</h4>
      <p>Country: Tunisie</p>
      <p>Region: Please select a region</p>
      <p>Street: Please provide an address</p>
      <p>Phone: 56074333</p>
    </div>
  </aside>