.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e48a68;
  padding-top: 1%;
  margin-top: 1%;
  border-bottom: 1px solid #ddd;
}

.navbar-left .app-name {
  font-size: 20px;
  font-weight: bold;
}

.navbar-right .btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #e48a68;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navbar-right .btn:hover {
  background-color: #2596BE;
}
