<nav class="navbar">
  <div class="navbar-left">
    <span routerLink="/" class="app-name">Job Fusion</span>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="(isAuthenticated$ | async); else unauthenticated">
      <button routerLink="/dashboard" class="btn">Look for a Job</button>
      <button routerLink="/dashboard" class="btn">Profile</button>
      <button (click)="logout()" class="btn">Logout</button>
    </ng-container>
    <ng-template #unauthenticated>
      <button routerLink="/signup" class="btn">Sign Up</button>
      <button routerLink="/signin" class="btn">Sign In</button>
    </ng-template>
  </div>
</nav>
