<nav class="navbar">
  <div class="navbar-left">
    <span routerLink="/" class="app-name">Job Fusion</span>
  </div>
  <div class="navbar-right">
    <ng-container *ngIf="isAuthenticated$ | async; else unauthenticated">
      <button *ngIf="(isRecruiter$ | async)" routerLink="/recruiter" class="btn">Add a new job offer</button>
      <button *ngIf="(isRecruiter$ | async)" routerLink="/welcome" class="btn">See all job offers</button>
      <button *ngIf="(isRecruiter$ | async)" routerLink="/applications" class="btn">See applications</button>
      <button *ngIf="!(isRecruiter$ | async)" routerLink="/welcome" class="btn">Look for a Job</button>
      <button *ngIf="!(isRecruiter$ | async)" routerLink="/profile" class="btn">Profile</button>
      <button (click)="logout()" class="btn">Logout</button>
    </ng-container>
    <ng-template #unauthenticated>
      <button routerLink="/signup" class="btn">Sign Up</button>
      <button routerLink="/signin" class="btn">Sign In</button>
    </ng-template>
  </div>
</nav>
