.job-offer-container {
  display: flex;
  flex-direction: column;
  height: 75vh;
  width: 100%;
  margin: 12px 0;
  box-sizing: border-box;
  background-color: #f8f9fa;
}

.job-offer-list {
  flex: 1;
  overflow-y: auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

.job-offer {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 4px;
  background: white;
  margin-bottom: 15px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid #ddd;
}

.job-offer:hover {
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.job-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

/* .company-logo {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  background-color: #f3f3f3;
} */

.job-title {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
  color: #000;
}

.company-name {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.job-info p {
  font-size: 14px;
  margin: 4px 0;
  color: #444;
}

.no-offers {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.job-offer-list::-webkit-scrollbar {
  width: 6px;
}

.job-offer-list::-webkit-scrollbar-thumb {
  background-color: #bbb;
  border-radius: 3px;
}

.job-offer-list::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}

@media (max-width: 768px) {
  .job-offer {
    padding: 12px;
  }

  .job-title {
    font-size: 16px;
  }

  .company-name {
    font-size: 13px;
  }

  .job-info p {
    font-size: 13px;
  }
}
