<div class="profile-container">
  <app-profile-sidebar 
    [username]="userData.username" 
    [selectedOption]="userData.selectedOption"
    [info]="{ birthdate: userData.birthdate, email: userData.email, phone:userData.phone  }"
    [address]="{ country: userData.country, region: userData.region }"
    [photo]="userData.photo" 
    [cv]="userData.cv">
  </app-profile-sidebar>
  <div class="section-divider">
    <app-profile-main 
    [summary]="userData.Summary" 
    [workExperiences]="userData.WorkExperiences" 
    [studies]="userData.Studies" 
    [languages]="userData.Languages">
  </app-profile-main>
  <app-applicant-applications>  
  </app-applicant-applications>
  </div>
 
</div>  
