<main class="main-content">
  <section class="summary">
    <!-- Summary Section -->
    <div class="summary-item">
      <h3>Summary 
        <button class="edit-button" (click)="editSummary()">✏️</button>
      </h3>
      <div *ngIf="isEditing">
        <textarea
        class="edit-textarea"
          [(ngModel)]="editableSummary"
          placeholder="Enter your summary"
          #summaryInput="ngModel"
          required
          [pattern]="'^.{50,500}$'" 
        ></textarea>
        <div class="alert alert-danger" *ngIf="summaryInput.invalid && summaryInput.touched">
          Summary must be between 50 and 500 characters.
        </div>
        <button (click)="saveSummary()" [disabled]="summaryInput.invalid">Save</button>
      </div>
      <p *ngIf="!isEditing" style="white-space: pre-wrap;">{{ summary }}</p>
    </div>

    <!-- Work Experiences Section -->
    <div class="summary-item">
      <h3>Work Experience</h3>
      <ul>
        <li *ngFor="let experience of workExperiences">
          {{ experience }}
          <button class="delete-work-button" (click)="deleteWorkExperience(experience)">
            ⛔
          </button>
        </li>
      </ul>

      <!-- Add Work Experience Button -->
      <button (click)="addWorkExperience()">➕ Add Work Experience</button>

      <!-- Work Experience Input Form -->
      <div *ngIf="isAddingWorkExperience">
        <input type="text" placeholder="Company" [(ngModel)]="newWorkExperience.company" required />
        <input type="text" placeholder="Role" [(ngModel)]="newWorkExperience.role" required />
        <input type="text" placeholder="Start year" [(ngModel)]="newWorkExperience.start" />
        <input type="text" placeholder="End year" [(ngModel)]="newWorkExperience.end" />
        <button (click)="saveWorkExperience()">✅ Save</button>
        <button (click)="isAddingWorkExperience = false">Cancel</button>
      </div>
    </div>

    <!-- Studies Section -->
    <div class="summary-item">
      <h3>Studies</h3>
      <ul>
        <li *ngFor="let study of studies">
          {{ study }}
          <button class="delete-study-button" (click)="deleteStudy(study)">
            ⛔
          </button>
        </li>
      </ul>

      <!-- Add Study Form -->
      <div *ngIf="isAddingStudy" class="add-study-form">
        <input type="text" placeholder="Institution" [(ngModel)]="newStudy.institution" />
        <input type="text" placeholder="Degree" [(ngModel)]="newStudy.degree" />
        <input type="text" placeholder="From" [(ngModel)]="newStudy.from" />
        <input type="text" placeholder="To" [(ngModel)]="newStudy.to" />
        <button (click)="saveStudy()">✅ Save</button>
        <button (click)="isAddingStudy = false">Cancel</button>
      </div>

      <!-- Add Study Button -->
      <button *ngIf="!isAddingStudy" (click)="isAddingStudy = true">➕ Add Study</button>
    </div>

    <!-- Languages Section -->
    <div class="summary-item">
      <h3>Languages</h3>
      <ul>
        <li *ngFor="let language of languages">
          <strong>{{ language }}</strong>
          <button class="delete-language-button" (click)="deleteLanguage(language)">
            ⛔
          </button>
        </li>
      </ul>

      <!-- Languages Dropdown -->
      <div>
        <select [(ngModel)]="selectedLanguage" (change)="onLanguageChange()">
          <option value="" disabled selected>Select another language</option>
          <option *ngFor="let language of availableLanguages" [value]="language">{{ language }}</option>
        </select>
        <button (click)="addLanguage()">➕ Add Language</button>
      </div>
    </div>
  </section>
</main>
