<router-outlet>
</router-outlet>
<div class="landing-container">
    <header>
      <h1>Welcome to Job fusion </h1>
      <p>Your professional journey starts here.</p>
      <button (click)="getStarted()">Get Started</button>
    </header>
  
    <section class="features">
      <div class="feature">
        <h2>🚀 +100K</h2>
        <p>internships found on our website.</p>
      </div>
      <div class="feature">
        <h2>🔒 +150</h2>
        <p>job opportunities</p>
      </div>
      <div class="feature">
        <h2>🎨 60</h2>
        <p>different fields.</p>
      </div>
    </section>
  </div>
  