.landing-container {
    text-align: center;
    padding: 50px;
    font-family: cursive;
   
  }
  
  header {
    background: #f1ce8a;
    padding: 5%;
    border-radius: 10px;
    border-color: black;
    border-width: 2%;
  }

  h1{
    color: white;
    -webkit-text-stroke: 2px black;
    
    
  }
  
  button {
    background: white;
    color: #f7b46e;
    padding: 10px 20px;
    border: none;
    font-size: 22px;
    cursor: pointer;
  }
  
  .features {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
  }
  
  .feature {
    width: 30%;
    padding: 20px;
    background: #f7b46e ;
    border-radius: 8px;
  }
  