html, body {
    height: 100%; /* Ensure full height for the page */
    margin: 0;
    padding: 0;
  }
  
  .components-container {
    display: flex;
    gap: 20px; 
    height: 100%; 
    align-items: stretch; 
    padding: 20px; 
    box-sizing: border-box; 
  }
  
  app-recruiter-job-list {
    width: 45%; 
    height: 100%; 
    
  }
  
  app-recruiter-job-form {
    width: 55%; 
    height: 100%; 
  }