<div class="welcome-page">
  <div class="left-sidebar">
    <app-sort-job-offers (sortChange)="jobOffers.onSortChange($event)"></app-sort-job-offers>
    <app-job-offers-filter (filterChange)="jobOffers.onFilterChange($event)"></app-job-offers-filter>
  </div>

  <div class="main-content">
    <div class="welcome-container">
      <h2 class="welcome-text">Welcome aboard, <span class="username">{{ username }}</span>! 🚀</h2>
      <p class="welcome-subtext">Your dream job is just a click away. Let's find the perfect fit for you! 💼</p>
    </div>
    
    <app-job-offers-search-bar (filterChange)="jobOffers.onFilterChange({ title: $event })"></app-job-offers-search-bar>
    <app-job-offers #jobOffers></app-job-offers>
  </div>

  <div class="right-sidebar">
    <app-job-offers-stats></app-job-offers-stats>
  </div>
</div>
